# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

layout : single

# Build settings
remote_theme: mmistakes/minimal-mistakes
#theme : minimal-mistakes-jekyll
minimal_mistakes_skin : dark
search		      : false
encoding	: "utf-8"
locale: "fr-FR"

# Definitions du site
title	 	   : "Quentin Mareau"
title_separator          : "-"
description	   : "Ce site regroupe l'ensemble de mes ressources pédagogiques entre autres choses"
url	     	   : http://mareauq.github.io
logo		   : /_pages/images/ico.png
name : "Quentin Mareau"
location : "Paris" 
contact		   : quentin.mareaupro@gmail.com

author:
  name: "Quentin Mareau"
  avatar           : "/others/profile.png" # path of avatar image, e.g. "/assets/images/bio-photo.jpg"
  bio              : "Enseignant en mathématiques au Lycée Camille Saint-Saëns"
  location         : "Paris, France"
  links:
    - label: "Email"
      icon: "fas fa-envelope-square"
      url: "mailto:quentin.mareaupro@gmail.com"

atom_feed:
  hide: true
  
include:
  - _pages

plugins:
  - jekyll-include-cache



# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
